.index_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.allcards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

//   // grid-template-rows: repeat(3, 1fr);
//   // grid-gap: 10px;
//   width: 100%;
}
