// Specific CSS for your home-page
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #CEE1FF;
}

h1{
  font-weight: bold;
  font-size: 64px;
  margin: 24px;
  padding: 24px;
}

.home_container {
  flex-grow: 1;
  width: 100%;
}

.home_intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 24px;
}

.home_intro h2 {
  font-size: 34px;
  font-weight: bolder;
  color: rgb(33, 32, 32);
  margin: 0 0 36px 0 ;
}

.second_banner{
  margin-top: 40px;
  width: 1300px;
  height: 300px;
  border-radius: 24px;
  background-color: #f7f7f7;
  color: black;
  position: relative;
}

// .batch_1 {
//   font-size: 8px;
//   font-weight: 100;
// }

// .batch_2 {
//   font-size: 16px;
//   font-weight: 200;
// }

// .batch_3 {
//   font-size: 24px;
//   font-weight: 400;
// }

// .batch_4 {
//   font-size: 32px;
//   font-weight: 700;
//   position: center;
// }

// .p1 {
//   position:absolute;
//   top: 4px;
//   left: 8px;
//   font-size: 8px;
//   font-weight: 100;
// }

// .p2 {
//   position:absolute;
//   top: 48px;
//   left: 214px;
//   font-size: 8px;
//   font-weight: 100;
// }

// .p3 {
//   position:absolute;
//   bottom: 24px;
//   right: 20px;
//   font-size: 8px;
//   font-weight: 100;
// }

// .p4 {
//   position:absolute;
//   bottom: 36px;
//   right: 58px;
//   font-size: 8px;
//   font-weight: 100;
// }

// .p5 {
//   position:absolute;
//   bottom: 48px;
//   right: 160px;
//   font-size: 16px;
//   font-weight: 200;
// }

// .p6 {
//   position:absolute;
//   top: 24px;
//   right: 145px;
//   font-size: 16px;
//   font-weight: 200;
// }

// .p7 {
//   position:absolute;
//   top: 400px;
//   right: 200px;
//   font-size: 16px;
//   font-weight: 200;
// }

// .p8 {
//   position:absolute;
//   top: 180px;
//   right: 300px;
//   font-size: 16px;
//   font-weight: 200;
// }

// .p9 {
//   position:absolute;
//   top: 410px;
//   right: 600px;
//   font-size: 24px;
//   font-weight: 400;
// }

// .p10 {
//   position:absolute;
//   top: 380px;
//   left: 600px;
//   font-size: 24px;
//   font-weight: 400;
// }
// .p11 {
//   position:absolute;
//   top: 280px;
//   left: 240px;
//   font-size: 24px;
//   font-weight: 400;
// }
// .p12 {
//   position:absolute;
//   top: 300px;
//   left: 400px;
//   font-size: 24px;
//   font-weight: 400;
// }
// .p13 {
//   position:absolute;
//   top: 2500px;
//   left: 500px;
//   font-size: 24px;
//   font-weight: 400;
// }
// .p14 {
//   position:absolute;
//   top: 180px;
//   left: 500px;
//   font-size: 24px;
//   font-weight: 400;
// }
// .p15 {
//   position:absolute;
//   top: 2400px;
//   left: 600px;
//   font-size: 24px;
//   font-weight: 400;
// }
// .p16 {
//   position:absolute;
//   top: 450px;
//   left: 700px;
//   font-size: 24px;
//   font-weight: 400;
// }
// .p17 {
//   font-size: 32px;
//   font-weight: 700;
//   position: center;
// }

.card_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_intro h2 {
  font-size: 32px;
  font-weight: bold;
  border-top: 3px black solid;
}

// .card_intro p{
//   font-size: 16px;
//   top: 400px;
//   right: 30px;
// }

.card_collection {
  display: flex;
  justify-content: space-around;
  padding: 24px;
  margin: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card_point_description {
  font-weight: bold;
  text-shadow: 0px 0px 1px rgb(7, 7, 7);
}
.home_presentation {
  border-top: 3px groove #FD1115;
  background: linear-gradient(231deg,#fff8f4,#def1ff 50%,#fff8f4);
  // (90deg, #FFFFFF 0%, #FF2E00 50%, #FA00FF 100%);
}


.presentation_of {
  height: 300px;
  display: flex;
  justify-content: space-around;
}

.info_text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img_collection{
  // margin: 60px;
  padding: 40px;
}

.line {
  width: 190px;
  height: 10px;
  background: linear-gradient(90deg, rgb(77, 244, 255) 0%, transparent 100%);
}


.footer {
  flex-grow: 0;
  display: flex;
  justify-content: flex-end;
}
