// Specific CSS for your home-page
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #CEE1FF;
}

h1{
  font-weight: bold;
  font-size: 64px;
  margin: 24px;
  padding: 24px;
}

// .login_btn {
//   position: relative;
//   top: 10%;
//   left: 90%;
// }
.home_container {
  flex-grow: 1;
  width: 100%;
  // position: relative;
}

.home_intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 24px;
}

.home_intro h2 {
  font-size: 34px;
  font-weight: bolder;
  color: rgb(33, 32, 32);
  margin: 0 0 36px 0 ;
}

.second_banner{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 40px;
  width: 90%;
  height: 300px;
  border-radius: 24px;
  background-color: #f7f7f7;
  color: black;
}

.parallax {
  background-image: url('wagon.JPG');
  background-attachment: fixed; /* Fixe l'image pendant le scroll */
  background-size: cover; /* L'image prendra 100% de l'espace, quitte à la crop */
  background-position: center; /* Centre la position de l'image */
  background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
  }


.card_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_intro h2 {
  font-size: 32px;
  font-weight: bold;
  border-top: 3px black solid;
}

// .card_intro p{
//   font-size: 16px;
//   top: 400px;
//   right: 30px;
// }

.card_collection {
  display: flex;
  justify-content: space-around;
  padding: 24px;
  margin: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card_point_description {
  font-weight: bold;
  text-shadow: 0px 0px 1px rgb(7, 7, 7);
}

.red_circle{
  width: 12px;
  height: 12px;
  background-color: $A;
  border-radius: 50%;
}
.pink_circle{
  width: 12px;
  height: 12px;
  background-color: $TA;
  border-radius: 50%;
}
.gold_circle {
  width: 12px;
  height: 12px;
  background-color: $T;
  border-radius: 50%;
}
.home_presentation {
  border-top: 3px groove #FD1115;
  background: linear-gradient(231deg,#fff8f4,#def1ff 50%,#fff8f4);
  // (90deg, #FFFFFF 0%, #FF2E00 50%, #FA00FF 100%);
}


.presentation_of {
  height: 300px;
  display: flex;
  justify-content: space-around;
}

.info_text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img_collection{
  // margin: 60px;
  padding: 40px;
}

.line {
  width: 190px;
  height: 10px;
  background: linear-gradient(90deg, rgb(77, 244, 255) 0%, transparent 100%);
}


.footer {
  flex-grow: 0;
  display: flex;
  justify-content: flex-end;
}
