// // Specific CSS for your home-page
// html {
//   width: 100%;
// }

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $GB;
  color: white;
}

h1{
  font-weight: bold;
  font-size: 64px;
  margin: 24px;
  padding: 24px;
}

.login_btn {
  position: relative;
  top: 20px;
  left: 90%;
}

.home_container {
  flex-grow: 1;
  width: 100%;
  // position: relative;
/*   background-color: $GB */
}

.home_intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 24px;
  color: white;
}

.home_intro h2 {
  font-size: 34px;
  font-weight: bolder;
  color: white;
  margin: 0 0 36px 0 ;
}

.second_banner{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 40px;
  width: 90%;
  height: 300px;
  border-radius: 24px;
  background-color: #f7f7f7;
  color: white;
}

.parallax {
  background-image: url('wagon.JPG');
  background-attachment: fixed; /* Fixe l'image pendant le scroll */
  background-size: cover; /* L'image prendra 100% de l'espace, quitte à la crop */
  background-position: center; /* Centre la position de l'image */
  background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
  }


.container-collect-begin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  h2 {
    font-size: 32px;
    font-weight: bold;
    border-top: 3px solid white;
    text-align: center;
    padding: 20px;
  }
}


.container-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 10px;
}


.card-intro-part {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
}


.card_point_description {
  font-weight: 700;
}

.red_circle{
  width: 12px;
  height: 12px;
  background-color: $A;
  border-radius: 50%;
}
.pink_circle{
  width: 12px;
  height: 12px;
  background-color: $TA;
  border-radius: 50%;
}
.gold_circle {
  width: 12px;
  height: 12px;
  background-color: $T;
  border-radius: 50%;
}


.home_presentation {
  border-top: 3px groove #FD1115;
  // background-image: url('sky.jpg');
  // background: linear-gradient(231deg,#354464, #0f2c42 50%, #333844);
  background-color: #333844;
  // background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


  // background: linear-gradient(231deg,#354464, #2e6e9d 50%, #fff8f4);

  // (90deg, #FFFFFF 0%, #FF2E00 50%, #FA00FF 100%);
}

.pres-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.presentation_of {
  margin: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home_collection {
  margin-left: 10%;
  margin-bottom: 40px;
}

.home_play {
  margin-left: 15%;
  margin-bottom: 40px;
}

.home_connect {
margin-left: 20%;
margin-bottom: 40px;
}

.info_text{
display: flex;
flex-direction: column;
justify-content: space-around;
}

.line {
width: 190px;
height: 10px;
background: linear-gradient(90deg, rgb(77, 244, 255) 0%, transparent 100%);
}

.collection-img{
  margin-top: 20px;
}
.btn_bottom {
  margin-left: 200px;
}
