


.carousel {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px 0;
}


.main-background {
  background-image: url('wagon_wall.JPG');
  background-position: center;
  background-size: cover;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  // background-color: #edf5ff;
  padding: 40px 0;
}

.main-container-btn {
  display: flex;
  flex-direction: column;
}

.link-to-decoration {
  text-decoration: none;
  color: white;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  &:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
}

.show-title {
  color: white;
  text-align: center;
  font-weight: 700;
}

.container-show {
  padding: 20px;
}

.container-charts {
  width: 80%;
  height: 80%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 15px;
  box-shadow: -1px 15px 60px -12px black;
}

.container-users {
  background: linear-gradient(231deg, #354464, #0C2436 50%, #1D1D1D);
  color: white;
  padding: 20px;
  border-radius: 15px 0 0 15px;
  display: grid;
  align-content: flex-start;
}

.container-best {
  background-color: rgb(248, 237, 237);
  border-radius: 0 15px 15px 0;
  padding: 20px;
  color: $GB;
  display: grid;
  align-content: flex-start;
}


.container-best-players {
  font-weight: 700;
  text-align: center;
}

.container-users-players {
  text-align: center;
  font-weight: 700;
}

.online {
  font-style: italic;
  font-size: 80%;
  color: greenyellow;
  margin: 3px;
}

.offline {
  font-style: italic;
  font-size: 80%;
  color: red;
  margin: 3px;
}



.main-btn {
  background-color: #4D04c4;
  text-decoration: none;
  text-align: center;
  margin: 16px;
  padding-top: 8px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 64px;
  width: 260px;
  padding: 0px 16px;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 24px;
  min-width: 64px;
  box-sizing: border-box;
  font-style: normal;
}
