<div class="container-round">
  <div class="player">
    <div class="info-user">
      <h5>You're playing against <%= Participation.where(game: @game).where.not(user_id: current_user.id).map(&:user).first.username %></h5>
    </div>
  </div>
  <div class="playground">
    <div class="logo-wagycards"></div>
  </div>
   <div class="player">
    <div class="cards">
     <% current_user.cards.map do |card| %>
        <% if card.status.include?('alumni') %>
            <%= render 'shared/game_card_alumni', card: card %>
        <% elsif card.status.include?('TA') %>
          <%= render 'shared/game_card_ta', card: card %>
        <% elsif card.status.include?('Teacher') %>
          <%= render 'shared/game_card_teacher', card: card %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
