
<div class="bg">
<div class="infos p-4 mt-5 d-flex flex-column align-items-center">
  <div class="m-4">
    <h3>Looking for your opponent ...</h1>
  </div>
  <div class="loader"></div>
</div>
</div>
