<div class="container">
  <p>You won</p>
  <p><%= current_user.Card.last %></p>
  <div class="d-flex ">
    <%= link_to games_path, method: :post do %>
      <input type="button" value="Play again" class="play_btn">
    <% end %>
    <%= link_to user_show(current_user) do %>
      <input type="button" value="Quit" class="play_btn">
    <% end %>
  </div>
</div>
