<div class="card">
  <div class="card-img">
      <div class="card-avatar-border">
      <%= image_tag 'pexels-ali-pazani-2777898.jpg', class:"card-avatar"%>
      <div class="card-points">
        <p>F</p>
      </div>
    </div>
  </div>
  <div class="card-infos">
    <div>
      <h5>Michel Jean Jacques</h5>
      <h6>Alumnus</h6>
    </div>

    <hr>

    <div class="card-infos-display">
       <div>Bordeaux</div>
       <div>Github-Jackie</div>
    </div>

    <hr>

    <div>
      <h6>500 pts</h6>
    </div>

    <hr>

    <div>
    <div class="card-infos-center">#853</div>
      <div class="card-infos-display">
        <div>Le Wagon Bordeaux</div>
        <div>janv 22</div>
      </div>
    </div>

  </div>
</div>
