<div class="navbar">
</div>

<div class="carousel">
  <h1>My dashboard</h1>
</div>

<div class="main">
  <%= render 'card' %>
  <%= render 'card' %>
  <%= render 'card' %>
</div>

<div class="footer">
</div>
