<%# <div class="footer">
<p>make with love</p>
<%= link_to "home", class: "" do %>
  <%# <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
<%# <% end %>
<%# </div> %>
