<div class="footer">
  <p>Made in Le Wagon with love</p>
  <%= link_to "home" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>
</div>
