<div class="small-card">
  <div class="small-card-sticker">
    <p>A</p>
  </div>
  <div class="small-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%=asset_path("pexels-ali-pazani-2777898.jpg")%>)">
    <p><%= card.first_name %></p>
  </div>
  <div class="small-card-infos">
    <div class="small-cards-infos-points">500</div>
  </div>
</div>
