<div class="container">
  <div class="banner">
    <input type="button" value ="login" class="login_btn"></button>
  </div>

  <h1>Collect your alumni, play with them and stay in touch !</h1>

  <input type="button" value="Play!" class="play_button">
  <div class="home_banner">
  <img src="imc wagon" alt="#">
  </div>

  <p>Meet your alumni from everywhere</p>
  <%#
  <input type="button" value="begin" class="login_button">
  <p><%= f.button :submit, "Book my cutie", class:'btn btn-cutie btn-link' %></p>

  <div class="card_intro">
    <h2>Collect, play and build your own project with your alumni</h2>
    <p>Stay in touch!</p>

    card alumni student
    card TA
    card teacher
    card founder
  </div>

  <div class="home_presentation">

    <div class="presentation_of home_collection">
      <h4>Collect digital cards</h4>
      <img src="" alt="">
      <p>everyday collect your cards, raise your deck and see your collection</p>
      <input type="button" value="begin" class="login_button">
    </div>


    <div class="presentation_of home_play">
      <h4>Play with them</h4>
      <img src="" alt="">
      <p>play with alumni from everywhere and collect new cards at each victory</p>
      <input type="button" value="begin" class="login_button">
    </div>



    <div class="presentation_of home_connect">
      <h4 class="home">Connect with alumni</h4>
      <img src="" alt="">
      <p>connect with your alumni from everywhere, see their work and start a new collaboration</p>
      <input type="button" value="begin" class="login_button">
    </div>


  </div>

  <div class="footer">
  <p>make with love</p>
  <%= link_to "home", class: "" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>
  </div>
</div>
