<div class="container-rules">
  <h1>Game rules</h1>
  <div class="rules">
    <p>1. Découvre tes huit cartes avec lesquelles tu vas affronter ton alumni adverse.</p>
    <p>3. Chaque carte a une valeur précisée dessus allant de 1 à 12 qui constitue son nombre de points.</p>
    <p>2. Selectionne la carte avec laquelle tu veux engager la partie pour le premier round puis appuies sur le bouton <strong>Refresh</strong> pour vérifier que ton adversaire a joué à son tour.</p>
    <p>4. Le gagnant de chaque round est celui qui pose la carte avec le plus de points.</p>
    <p>5. En cas d'égalité, le round continue avec l'ajout d'une nouvelle carte.</p>
    <p>6. La partie se termine lorsque les huit cartes ont été selectionnées par chacun des participants.</p>
    <p>7. Le gagnant du jeu est celui qui gagne le plus de rounds.</p>
  </div>
  <%= link_to "Ready ?",  new_game_path, class: "btn btn-play" %>
</div>
