<% if @can_use_booster %>
  <%= link_to 'Get my daily cards',
              daily_boosters_path,
              method: :post,
              id: "new_booster_btn",
              class: "btn btn-success",
              remote: true %>
<% else %>
  <div>Eh non! <%= @next_booster_date.strftime("%d/%m, %H:%M")  %> </div>
<% end %>

<div id="cards-wrapper">
</div>
