<div class="user-cards-index-text">
  <h1>My cards</h1>
</div>

<div class="container-cards-search">
  <%= render 'shared/form_search_user_card' %>
</div>

  <div class="container-cards-index problem-height">
    <div class="container-cards-index-display">
      <% @user.cards.map do |card| %>
        <% if card.status.include?('alumni') %>
          <%= render 'shared/game_card_alumni', card: card %>
        <% elsif card.status.include?('TA') %>
          <%= render 'shared/game_card_ta', card: card %>
        <% elsif card.status.include?('Teacher') %>
          <%= render 'shared/game_card_teacher', card: card %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
