<div class="booster_cards" data-controller="daily-booster">
  <% @cards.each do |card| %>
    <%# <%= render 'shared/card_simple', card: user_card.card %>
    <%= render 'shared/card_simple', card: card %>
    <%# <%= card.first_name %>
    <%# <%= card.last_name %>
  <% end %>
</div>
