<div class="user-cards-index-text">
  <h1>All cards</h1>
</div>
<div class="container-cards-search">
  <%= render 'shared/form_search_index' %>
</div>

<div class="container-cards-index">
  <% @cards.each do |card| %>
    <%= link_to card_path(card) do %>
      <%= render 'shared/cards_index', card: card %>
    <% end %>
  <% end %>
</div>
