<div class="index_container">
<<<<<<< HEAD

  <div class="search_bar">Search Bar</div>

  <div class="allcards">
    <% @cards.each do |card| %>
      <%= link_to cards_path(card), class:'link-to-decoration' do %>
          <%= render 'shared/small_card', card: card %>
      <% end %>
    <% end %>
  </div>
 </div>
=======
    <div class=“search_bar”>Search Bar</div>
  <div class="allcards">
    <% @cards.each do |card| %>
      <%= link_to card_path(card), class:'link-to-decoration' do %>
          <%= render 'shared/card', card: card %>
      <% end %>
    <% end %>

  </div>
</div>
>>>>>>> 707aa596abcec4364c3bd5e82e99085d2e7f77cc
