<div class="index_container">
  <%= render 'shared/form_search_index' %>
  <div class="allcards">
    <% @cards.each do |card| %>
      <%= link_to card_path(card), class:'link-to-decoration' do %>
          <%= render 'shared/card', card: card %>
      <% end %>
    <% end %>

  </div>
</div>
