<div class="card_show">
  <h2> <%= @cards[params[:id].to_i].first_name%>'s card</h2>
  <div class="d-flex">
    <div class="card m-4 p-5"> This is my card</div>
    <div>
      <h4>Description</h4>
      <p><%= @cards[params[:id].to_i].description %></p>
      <h4>Occupations</h4>
      <p>Freelance</p>
      <ul>
        <li>Education numero uno</li>
        <li>Education numero dos</li>
      </ul>
    </div>
  </div>
</div>
