.banner{
  height: 350px;
  background-image: url('banner_card'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  // background-color: black;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;

  // background-image: url("../../images/banner_card.jpg");

  // background-size: cover;
  // border-bottom: 10px solid black;
  // display: flex;
  // align-items: center;
}

.banner input{
  position: absolute;
  top: 20px;
  right:40px;

}
