.login_btn {
  background-color: #FD1115;
  color: white;
  letter-spacing: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: normal;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 24px;
  margin: 16px;
  padding: 11px 16px;
  text-decoration: none;
  line-height: 20px;
}

.login_btn_large {
  background-color: #0066FF;
  color: white;
  letter-spacing: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: normal;
  height: 40px;
  width: 400px;
  border: none;
  border-radius: 24px;
  margin: 16px;
  padding: 0px 16px;
  text-decoration: none;
}


.play_btn {
  background-color: #FD1115;
  text-decoration: none;
  text-align: center;
  margin: 16px;
  padding-top: 8px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 64px;
  width: 260px;
  padding: 0px 16px;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 24px;
  min-width: 64px;
  box-sizing: border-box;
  font-style: normal;
}


.login_btn:hover, .play_btn:hover{
  background-color: #d51316;
  text-transform: none;
}
