.container-card-show {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
  color: white;
  padding: 20px;

}

.container-card-description {
  padding: 40px;
  width: 80%;
  justify-content: center;
  h5 {
    padding: 20px 0;
    text-shadow: 0px 0px 1px rgb(7, 7, 7);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 32px;
  }
}

.container-card-description-text {
  display: grid;
  align-items: center;
  justify-content: flex-start;
}

.card-show-title {
  text-align:center;
  padding: 20px;
  h2 {
    text-shadow: 0px 0px 1px rgb(7, 7, 7);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 43px;
  }
}

.container-card-one {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-left: 40px;
}


.card-show {
  width: 300px;
  height: 550px;
  color: white;
  position: relative;
  border-radius: 15px;
  box-shadow: -1px 15px 30px -12px black;
  margin: 20px;
}

.card-show-founder {
  width: 300px;
  height: 550px;
  color: white;
  position: relative;
  border-radius: 15px;
  box-shadow: -1px 15px 30px -12px black;
  margin: 20px;
  animation: neon1 1.5s ease-in-out infinite alternate;
}


.card-show-alumni {
  background-color: $A;
  background-image: linear-gradient(315deg, #FD1015 35%, #eb5f61 75%);
}

.card-show-teacher {
  background-color: $T;
  background-image: linear-gradient(315deg, #d09d1f 35%, #ebbd47 74%);
}

.card-show-ta {
  background-color: $TA;
  background-image: linear-gradient(315deg, #fda9c5 35%, #89efec 75%);
}

.card-img {
  background-position: center;
  background-size: cover;
  border-radius: 15px 15px 0 0;
  padding: 20px 10px 10px 10px;
  height: 45%;
}

.card-avatar {
  width: 100%;
  height: 100%;
  border: 5px solid white;
}

.card-infos {
  padding: 10px 20px 0 20px;
}

.card-infos h5, h6 {
  font-weight: bold;
  text-align: center;
}

.cards-infos p {
  padding-bottom: 1px;
}

.card-infos-display {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.card-infos-center {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.card-hr {
  margin: 15px 0;
  color: white;
}

.card_separation {
  margin: 25px;
}
.github-icon {
  font-weight: 700;
  font-size: 40px;
}

.github-icon-show {
  font-weight: 700;
  font-size: 100px;
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #d09d1f,
      0 0 70px #d09d1f, 0 0 80px #d09d1f, 0 0 100px #d09d1f, 0 0 300px #d09d1f;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #d09d1f,
      0 0 35px #d09d1f, 0 0 40px #d09d1f, 0 0 50px #d09d1f, 0 0 100px #d09d1f;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 100px #ff1177;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #d09d1f,
    0 0 35px #d09d1f, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 100px #ff1177;
  }
}
