.container-card-show {
  background-color: $GB;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
  color: white;
  padding: 20px;

}

.container-card-description {
  padding: 40px;
  h5 {
    padding: 20px 0;
    text-shadow: 0px 0px 1px rgb(7, 7, 7);
  }
}

.container-card-description-text {
  display: grid;
  align-items: center;
  justify-content: flex-start;
}

.card-show-title {
  text-align:center;
  padding: 20px;
  text-shadow: 0px 0px 1px rgb(7, 7, 7);
}

.container-card-one {
  display: flex;
  align-content: center;
  justify-content: center;
}


.card-show {
  width: 300px;
  height: 550px;
  color: white;
  position: relative;
  border-radius: 15px;
  box-shadow: -1px 15px 30px -12px black;
  background-color: $A;
  background-image: linear-gradient(315deg, #FD1015 35%, #eb5f61 75%);
  margin: 20px;
}

.card-img {
  background-position: center;
  background-size: cover;
  border-radius: 15px 15px 0 0;
  padding: 20px 10px 10px 10px;
  height: 45%;
}

.card-avatar {
  width: 100%;
  height: 100%;
  border: 5px solid white;
}

.card-infos {
  padding: 10px 20px 0 20px;
}

.card-infos h5, h6 {
  font-weight: bold;
  text-align: center;
}

.cards-infos p {
  padding-bottom: 1px;
}

.card-infos-display {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.card-infos-center {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.card-hr {
  margin: 15px 0;
  color: white;
}

.card_separation {
  margin: 25px;
}
.github-icon {
  font-weight: 700;
  font-size: 40px;
}
