.footer {
  font-size: 18px;
  // line-height: 18px;
  width: 100%;
  background: snow;
  // margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  flex-grow: 0;
  display: flex;
  justify-content: flex-end;
  border-top: 2px solid grey;

  p {
    color: black;
    font-weight: 400;
    margin-top: 14px;
  }

  img {
    width: 40px;
    margin: 8px;
  }
}
