@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$border-radius-size: 14px;
$T: #BF953F;
$A: #FD1015;
$TA: #f37ca3;

.game-card {
  background: white;
  width: 150px;
  height: 230px;
  border-radius: $border-radius-size + 5;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  font: 14px/20px "Lato", Arial, sans-serif;
  &:hover {
    animation: shake 1s;
  }
}

.opponent_close_card {
  width: 150px;
  margin-left: -130px;
}

.user_close_card {
  width: 150px;
  margin-right: -130px;
}

.disabled{
  opacity: 0.2;
}

.game-card-image {
  background-size: cover;
  background-position: center;
  height: 60%;
  width: 100%;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.game-card-name {
  background-color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin: 3px 0;
}

.ta-color {
  color: $TA;
}
.alumni-color {
  color: $A;
}
.teacher-color {
  color: $T;
}


.ta-bck-color {
  background-color: $TA;
  background-image: linear-gradient(315deg, #fda9c5 35%, #89efec 75%);
}
.alumni-bck-color {
  background-color: $A;
  background-image: linear-gradient(315deg, #FD1015 35%, #eb5f61 75%);
}
.teacher-bck-color {
  background-color: #d09d1f;
  background-image: linear-gradient(315deg, #d09d1f 35%, #ebbd47 74%);
}

.game-card-points {
  display: grid;
  height:30%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;
}

.one-third{
  height:100%;
  padding: 12px 3px;
  font-size: 12px;
}

.one-third-text {
  font-weight: 700;
}

.alumni-border {
  border-right: 1px solid white;
}
.ta-border {
  border-right: 1px solid #f7d0dd;
}
.teacher-border {
  border-right: 1px solid white;
}

.no-border {
  border-right: none;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.github-icon-game {
  font-weight: 700;
  font-size: 30px;
  padding-top: 4px;
}
