@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$border-radius-size: 14px;
$T: #BF953F;


.founder-game-card-effect {
  background-color:#fff;
  width: 150px;
  height: 230px;
  border-radius: $border-radius-size + 5;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  font: 14px/20px "Lato", Arial, sans-serif;
  animation: neon1 1.5s ease-in-out infinite alternate;
  &:hover {
    animation: shake 1s;
  }
}


.founder-bck-color-effect {
  background-color: #d09d1f;
  background-image: linear-gradient(315deg, #d09d1f 35%, #ebbd47 74%);
}

.founder-color {
  color: $T;
}

.founder-border {
  border-right: 1px solid white;
}

.no-border {
  border-right: none;
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #d09d1f,
      0 0 70px #d09d1f, 0 0 80px #d09d1f, 0 0 100px #d09d1f, 0 0 300px #d09d1f;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #d09d1f,
      0 0 35px #d09d1f, 0 0 40px #d09d1f, 0 0 50px #d09d1f, 0 0 100px #d09d1f;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 100px #ff1177;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #d09d1f,
    0 0 35px #d09d1f, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 100px #ff1177;
  }
}
