// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card_show";
@import "footer";
@import "banner";
@import "button";
@import "game_card";
@import "card_read_more";
@import "btn_effect";
@import "cards_index";
@import "loader";
@import "game_info";
@import "form_search";
@import "login_form";
@import "back_card";
