// If you use me, do not forget to see how I work in views/users/small_card

.small-card {
  width: 150px;
  height: 230px;
  background-image: url('quantum-gradient.png');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #BF953F;
  border: 4px solid white;
  position: relative;
}

.golden-small-card {
  width: 150px;
  height: 230px;
  background-image: url('quantum-gradient.png');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: 1px 1px 1px rgb(189, 189, 189);
  border: 4px solid #BF953F;
  position: relative;
}

.silver-small-card {
  width: 150px;
  height: 230px;
  background-image: url('quantum-gradient.png');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: 1px 1px 1px rgb(189, 189, 189);
  border: 4px solid #C0C0C0;
  position: relative;
}


.small-card-sticker {
  position: absolute;
  top:0;
  right:0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  color: #FD1015;
  text-align: center;
  margin: -15px -15px;
  line-height: 40px;
  font-weight: bold;
}


.silver-small-card-sticker {
  position: absolute;
  top:0;
  right:0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #C0C0C0;
  color: #FD1015;
  text-align: center;
  margin: -15px -15px;
  line-height: 40px;
  font-weight: bold;
}

.golden-small-card-sticker {
  position: absolute;
  top:0;
  right:0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #BF953F;
  color: white;
  text-align: center;
  margin: -15px -15px;
  line-height: 40px;
  font-weight: bold;
}

.small-card-img {
  width:100%;
  height: 75%;
  display: flex;
  align-items: flex-end;
  border-radius: 12px 12px 0 0;
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.small-card-img-text {
  color: white;
  font-weight: bold;
  text-align: center;
}

.small-card-infos {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-cards-infos-points {
  color : white;
  font-weight: bold;
  text-align: center;
}
